<%- include('partials/header', { title: 'Home - My Blog' }) %>

<h1 class="">All Posts</h1>

<!-- Display all blog posts -->
<% if (posts.length > 0) { %>
    <ul class="list-group">
        <% posts.forEach((post, index) => { %>
            <li class="list-group-item">
                <h2><%= post.title %></h2>
                <p><%= post.content %></p>
                <a href="/edit/<%= post.id %>" class="btn btn-primary">Edit</a>
                <form action="/posts/<%= post.id %>/delete" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>No posts yet. Create one using the form below!</p>
<% } %>

<%- include('partials/footer') %>
